html, body {
  height: 100%;
}
body {
  font-family: "PT Sans", sans-serif;
}

.col-left {
-webkit-box-ordinal-group: 2;
            -webkit-order: 1;
           -ms-flex-order: 1;
                    order: 1;
}
.col-center {
  -webkit-box-ordinal-group: 3;
              -webkit-order: 2;
             -ms-flex-order: 2;
                      order: 2;
}
.col-right {
  -webkit-box-ordinal-group: 4;
              -webkit-order: 3;
             -ms-flex-order: 3;
                      order: 3;
}
.col {
  width: 100%;
  padding: 10px 20px;
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  color: #675b57;
}

a {
  color: #675b57;
  text-decoration: none;
}
a:hover { color: #db382e }
.danger {
  color: #db382e;
}

.slides {
  background-color: #5fa9c0;
  color: #f2f1f1;
}
.slides a { color: #f2f1f1 }
.slides a:hover { color: #db382e }
.samples { background-color: #d5d8ca }
.links   { background-color: #f2f1f1 }

footer {
  display: inline;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: #675b57;
}
